.navbar {
    background-color: black;
}

.starter>a {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.starter {
    margin-left: 15px;
}

.starter-one {
    margin-left: 30px;
}

.starter-one>input {
    padding: 3px;
    background-color: transparent;
    border: 0.5px solid #d1d1d1;
}

.starter-one>input> {
    margin-left: 10px;
}

.starter-two>img {
    margin-left: 290px;
}

.start>.starter-three {
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
}

.start>.starter-three>.btn-1 {
    border-color: #f64137;
    background-color: transparent;
    color: white;
    font-size: .65em;
    line-height: 1;
    padding: 0.2em 0.3em;
    text-transform: uppercase;
    vertical-align: middle;
    font-family: monospace;
}

.navbar {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

@media only screen and (max-width: 600px) {
    .starter-two>img {
        display: none !important;
    }

    .starter-one>input {
        display: none;
    }
}

.head {
    margin-top: 70px;
}

.head-one {
    font-size: 20px;
    font-weight: bold;
}

.six>img {
    object-fit: cover;
    border-radius: 100%;
    width: 100px;
}

.btn-2 {}

.zero-h1 {
    font-size: 35px;
    color: black;
    font-weight: bold;
    margin-left: 50px;
}

.btn-2>button {
    border: none;
    background-color: #f64137;
    padding: 5px 10px;
    border-radius: 100%;
    margin-left: 150px;
}

.btn-2>button>i {
    font-size: 20px;
    color: white;
}

.zero-1 {
    color: black;
}

.coat-1 {
    margin-top: 15px !important;
}

.contain>img {
    margin-top: 30px !important;
}

.contain {
    position: relative;
}

.contain>.heading-image {
    position: absolute;
    /* bottom: 200px; */
    top: 150px;
    left: 30px;
    color: white;
    font-size: 70px;
    font-weight: bold;
}

.contain>.image-paragraph {
    position: absolute;
    top: 50%;
    left: 30px;
    color: white;
    font-size: 20px;
}

.btn-3 {
    font-size: 25px;
    background-color: #f64137;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: 5px 15px;
}

.contain>.btn-3 {
    position: absolute;
    right: 87%;
    top: 65%;
}

.small {
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.contain>.text-image {
    position: absolute;
    top: 85%;
    left: 30px;
    color: white;
}

.text-one {
    font-weight: bold;
}

.text-one>.material-symbols-outlined {
    font-size: 15px;
    background-color: #f64137;
    border-radius: 100%;
}

.text-two {
    font-weight: bold;
}


.text-two>.material-symbols-outlined {
    font-size: 15px;
    background-color: #f64137;
    border-radius: 100%;
}

.radius {
    column-count: 4;
    width: 500px !important;
    margin-left: 250px !important;
    vertical-align: middle;
}

.radius>img {
    border-radius: 100%;
    object-fit: cover;
    width: 50px;
    display: flex;
}

.radius>.image-one {
    font-size: 50px;
    background-color: grey;
    border-radius: 100%;
    color: white;
}

.noo {
    display: none;
}

@media only screen and (max-width: 600px) {
    .contain>.image-paragraph {
        display: block;
    }

    .six>img {
        margin-left: 100px !important;
    }

    .zero-h1 {
        font-size: 40px;
        text-align: center !important;
        margin-left: 100px !important;
        text-decoration: underline;
    }

    .coat-1>.zero-1 {
        text-align: center !important;
    }

    .coat-1>.zero-1>.no {
        display: none;
    }

    .noo {
        display: block;
    }

    .btn-2 {
        margin-top: 30px !important;
    }

    .contain>img {
        height: 550px;
    }

    .contain>.heading-image {
        font-size: 50px;
    }

    .one {
        display: none;
    }

    .two {
        display: none;
    }

    .three {
        display: none;
    }

    .four {
        display: none;
    }

    .contain>.btn-3 {
        left: 8%;
        right: 10%;
        top: 80%;
    }

    .contain>.heading-image {
        top: 10%;
    }

    .contain>.image-paragraph {
        top: 45%;
    }
}

.two-two {
    margin-top: 60px;
}

.two-two>.left-side {
    font-size: 60px;
    color: black;
    font-weight: bold;
}

.two-two>.right-side {
    font-size: 30px;
    font-weight: bold;
    color: black;
    margin-left: 570px;
}

.two-two>.right-side>.material-symbols-outlined {
    font-size: 20px;
    background-color: #f64137;
    border-radius: 100%;
    color: white;
    padding: 4px;
}

.slide-1 {
    column-count: 3;
}

.first>img {
    width: 600px;
    height: 450px;
    border: none;
}

.second>img {
    width: 400px;
    height: 450px;
    border: none;
}

.third>img {
    width: 100%;
    height: 150px;

}

.fourth>img {
    width: 100%;
    height: 200px;
}

.image-text-2 {
    position: relative;
}

.first {
    position: relative;
}

.smallest {
    position: absolute;
    top: 5%;
    color: white;
    letter-spacing: 5px;
}

.small-1 {
    position: absolute;
    top: 65%;
    color: white;
    letter-spacing: 6px;
}

.word {
    position: absolute;
    top: 70%;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.image-text {
    padding-left: 20px;
}

.second {
    position: relative;
}

.smallest-1 {
    position: absolute;
    top: 5%;
    color: white;
    letter-spacing: 5px;
}

.small-2 {
    position: absolute;
    top: 65%;
    color: white;
    letter-spacing: 6px;
}

.word-1 {
    position: absolute;
    top: 70%;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.image-text-1 {
    padding-left: 20px;
}

.third-3>img {
    width: 100%;
    height: 200px;
}

.third-3 {
    position: relative;
}



.word-2 {
    position: absolute;
    bottom: 60%;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.fourth {
    position: relative;
    padding-top: 50px;
}


.word-3 {
    position: absolute;
    bottom: 2%;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.smallest-4 {
    position: absolute;
    bottom: 65%;
    color: white;
    letter-spacing: 5px;
}

.small-4 {
    position: absolute;
    bottom: 50%;
    color: white;
    letter-spacing: 5px;
}

.image-text-2 {
    padding-left: 10px;
}

.fourth-4 {
    margin-left: 10px !important;
}

.first-image>img {
    width: 100px;
    border-radius: 100%;
    /* margin-left: 0%; */
}

.image-text-3 {
    letter-spacing: 5px;
    font-size: 10px;
}

.text-1 {
    color: black;
    font-weight: bold;
    font-size: 17px;
    line-height: 17px;
}

.text-2 {
    letter-spacing: 5px;
}

.first-image {
    column-gap: 0%;
}

.number-1 {
    margin-top: 30px !important;
}

.text-3 {
    font-size: 40px;
    color: black;
    font-weight: bold;
}

.text-4 {
    font-weight: bold;
    font-size: 25px;
    color: black;
    margin-top: 40px;
}

.second-2 {
    margin-top: 40px !important;
}

.contain-1 {
    position: relative;
}

.contain-1>.heading-image-1 {
    position: absolute;
    /* bottom: 200px; */
    top: 150px;
    left: 30px;
    color: white;
    font-size: 70px;
    font-weight: bold;
}

.contain-1>.image-paragraph-1 {
    position: absolute;
    top: 30%;
    left: 30px;
    color: white;
    font-size: 20px;
}

.btn-3-1 {
    position: absolute;
    right: 87%;
    top: 45%;
    font-size: 25px;
    background-color: #f64137;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: 5px 15px;
}

.text-5 {
    color: black;
    font-size: 18px;
}

.right-side-2 {
    text-align: right;
    margin-left: 65%;
}

.right-left {
    color: black;
    font-size: 25px;
    font-weight: bold;
}

.contain-2 {
    position: relative;
}

.contain-2>.heading-image-2 {
    position: absolute;
    /* bottom: 200px; */
    top: 150px;
    left: 30px;
    color: white;
    font-size: 70px;
    font-weight: bold;
}

.contain-2>.image-paragraph-2{
    position: absolute;
    top: 12%;
    left: 30px;
    color: white;
    font-size: 20px;
}

.btn-3-2 {
    font-size: 25px;
    background-color: #f64137;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: 5px 15px;
}

.contain-2>.btn-3-2 {
    position: absolute;
    right: 87%;
    top: 18%;
}






.contain-3 {
    position: relative;
}

.contain-3>.heading-image-3 {
    position: absolute;
    /* bottom: 200px; */
    top: 150px;
    left: 30px;
    color: white;
    font-size: 70px;
    font-weight: bold;
}

.contain-3>.image-paragraph-3{
    position: absolute;
    top: 25%;
    left: 30px;
    color: white;
    font-size: 20px;
}

.btn-3-3 {
    font-size: 25px;
    background-color: #f64137;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    padding: 5px 15px;
}

.contain-3>.btn-3-3 {
    position: absolute;
    right: 87%;
    top: 32%;
}

.end {
    letter-spacing: 5px;
}

.end-1 {
    color: black;
    font-weight: bold;
    font-size: 45px;
}

.first-img>img {
    height: 600px;
    width: 100%;
    object-fit: cover;
    padding-top: 30px;
}

.end-last {
    position: relative;
}

.end-2 {
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
}

.first-img>.end-2 {
    position: absolute;
    top: 90%;
}